/* RegexForm.css */

/* Reset some default styles */
body, h1, h2, h3, h4, h5, h6, p, ul, ol, form, input, label, button, div {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Body styling */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to bottom, rgba(210,210,255,255), rgba(242,213,255,254));

}

/* Container styling */
.container {
    display: flex;
    background: #ced7f3;
    margin: 50px;
    padding: 0;
    max-width: 1000px;
    width: 100%;
    box-shadow: 0 0 20px rgb(7, 39, 110);
    border-radius: 8px;
    flex-direction: row;
    gap: 55px;
}

/* Form title */
h1 {
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
    color: #333;
}

/* Form group styling */
.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

/* Input field styling */
.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #0e5398;
    border-radius: 15px;
    font-size: 18px;

}

/* Checkbox group styling */
.checkbox-group label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.checkbox-group input[type="checkbox"] {
    margin-right: 10px;
}

/* Button styling */
button {
    display: inline-block;
    width: 100%;
    padding: 10px 25px;
    background-color: #4CAF50;
    border: none;
    border-radius: 14px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}

button:hover {
    background-color: #0056b3;
}

/* Error and success message styling */
#error-message, #success-message {
    margin-top: 10px;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
}

#error-message {
    background-color: #f8d7da;
    color: #721c24;
}

#success-message {
    background-color: #d4edda;
    color: #155724;
}
